<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Registro de envios SMS</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Optional theme -->
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Table plugin -->
    <link href="/static/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/buttons.dataTables.min.css"  rel="stylesheet" type="text/css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
      .box {
        background:#fff;
        transition:all 0.2s ease;
        border:2px dashed #dadada;
        margin-top: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        background-clip: padding-box;
        padding:0 20px 20px 20px;
        min-height:340px;
      }

      .box:hover {
        border:2px solid #EF6E0B;
      }

      .box span.box-title {
        color: #fff;
        font-size: 24px;
        font-weight: 300;
        text-transform: uppercase;
      }

      .box .box-content {
        padding: 16px;
        border-radius: 0 0 2px 2px;
        background-clip: padding-box;
        box-sizing: border-box;
      }
      .box .box-content p {
        color:#515c66;
        text-transform:none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      {% include 'menu.html' %}

      <div>
	      <div class="row">
          <div class="row">
            <div class="col-md-4 text-center">
              <div class="box">
                <div class="box-content">
                  <h1 class="tag-title">Usuario</h1>
                  <hr />
                  <p><strong>CUENTA:</strong> {{ customer.username }}</p>
                  <p><strong>CLIENTE:</strong> {{ customer.lastname }}</p>
                  <p><strong>USUARIO:</strong> {{ customer.useralias }}</p>
                  <br />
                  <a href="" class="btn btn-block btn-primary disabled">&nbsp;</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 text-center">
              <div class="box">
                <div class="box-content">
                  <h1 class="tag-title">Contacto</h1>
                  <hr />
                  <p><strong>DIRECCIÓN:</strong> {{ customer.address }}</p>
                  <p><strong>TELÉFONO:</strong> {{ customer.phone }}</p>
                  <p><strong>EMAIL:</strong> {{ customer.email }}</p>
                  <br />
                  <a href="" class="btn btn-block btn-warning disabled">&nbsp;</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 text-center">
              <div class="box">
                <div class="box-content">
                  <h1 class="tag-title">Telefonía</h1>
                  <hr />
                  <p><strong>PLAN:</strong> {{ plan.tariffgroupname }}</p>
                  <p><strong>TIPO:</strong> {{ plan_type.name }}</p>
                  <p><strong>MINUTOS INCLUIDOS:</strong> {{ plan.included_minutes }}</p>
                  <br />
                  <a href="" class="btn btn-block btn-success disabled">&nbsp;</a>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-center">
              <div class="box">
                <div class="box-content">
                  <h1 class="tag-title">Mensajes</h1>
                  <hr />
                  <p><strong>PLAN:</strong> {{ sms.plan.name }}</p>
                  <p><strong>PAQUETE:</strong> {{ sms.plan.bucket }}</p>
                  <p><strong>ENVIADOS:</strong> {{ sent }}</p>
                  <br />
                  <a href="" class="btn btn-block btn-info disabled">&nbsp;</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 text-center">
              <div class="box">
                <div class="box-content">
                  <h1 class="tag-title">Consumo</h1>
                  <hr />
                  <p><strong>DIDs:</strong> {{ dids }}</p>
                  <p><strong>SALDO:</strong> ${{ customer.credit | floatformat:"0" }}</p>
                  <p>
                    <strong>MINUTOS {% if customer.credit >= 0 %}DISPONIBLES{% else %}ADICIONALES{% endif %}:</strong>
                    {{ minutes | floatformat:"0" }}
                  </p>
                  <br />
                  <a href="" class="btn btn-block btn-danger disabled">&nbsp;</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 text-center">
              <div class="box">
                <div class="box-content">
                  <h1 class="tag-title">Telefonía</h1>
                  <hr />
                  <p><strong>VALOR MINUTO:</strong> ${{ plan.valor_minuto }}</p>
                  <p><strong>LOCAL ILIMITADA:</strong> {% if 'D' in plan.tariffgroupname %}Si{% else %}No{% endif %}</p>
                  <p><strong>MINUTO INTERNACIONAL:</strong> {% if 'I' in plan.tariffgroupname %}Si{% else %}No{% endif %}</p>
                  <br />
                  <a href="" class="btn btn-block btn-success disabled">&nbsp;</a>
                </div>
              </div>
            </div>
          </div>
        </div>
	    </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
