<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Registro de envios SMS</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Optional theme -->
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Table plugin -->
    <link href="/static/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/buttons.dataTables.min.css"  rel="stylesheet" type="text/css" />

    <!-- Datetime -->
    <link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      {% include 'menu.html' %}

      <div class="jumbotron">
        <form class="form-horizontal" method="post">
          {% csrf_token %}

          <div class="row">
            <div class="col-sm-6">
              <label for="from" class="col-sm-2 control-label">Desde:</label>
              <div class="form-group">
                <div class='input-group date' id='date-from'>
                  {{ form.date_from }}
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <label for="until" class="col-sm-2 control-label">Hasta:</label>
              <div class="form-group">
                <div class='input-group date' id='date-until'>
                  {{ form.date_until }}
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <label for="destination" class="col-sm-2 control-label">Destino:</label>
              <div class="form-group">
                <div class="input-group date">
                  {{ form.destination }}
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-phone"></span>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <label for="status" class="col-sm-2 control-label">Estado:</label>
              <div class="form-group">
                <div class="input-group date">
                  {{ form.status }}
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-th-list"></span>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <br>

          <div class="text-center">
            <div class="btn-group">
              <button type="reset" class="btn btn-warning">
                Limpiar <span class="glyphicon glyphicon-ban-circle"></span>
              </button>

              <button type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-search"></span> Filtrar
              </button>
            </div>
          </div>
        </form>
      </div>

      <table id="log" class="table table-hover">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Destino</th>
            <th>Duración (Segundos)</th>
            <th>Duración (Minutos)</th>
            <th>Estado</th>
            <th>Costo (COP)</th>
          </tr>
        </thead>

        <tbody>
        {% load sms_extras %}
        {% for log in logs %}
          <tr>
            <td>{{ log.starttime | date:'d/m/y H:i:s' }}</td>
            <td>{{ log.calledstation }}</td>
            <td>{{ log.sessiontime }}</td>
            <td>{{ log.sessiontime | secs_to_mins }}</td>
            <td><span class="label label-{{ log.terminatecauseid | call_status_class }}">{{ log.terminatecauseid | call_status_name }}</span></td>
            <td>{{ log.sessionbill | floatformat:"0" }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Moment -->
    <script src="/static/js/moment-with-locales.min.js"></script>
    <!-- Datetime -->
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <!-- Tables -->
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/js/dataTables.buttons.min.js"></script>
    <script src="/static/js/buttons.flash.min.js"></script>
    <script src="/static/js/jszip.min.js"></script>
    <script src="/static/js/pdfmake.min.js"></script>
    <script src="/static/js/vfs_fonts.js"></script>
    <script src="/static/js/buttons.html5.min.js"></script>
    <script src="/static/js/buttons.print.min.js"></script>
    <script type="application/javascript">
      $(document).ready(function() {
        $.getJSON("http://cdn.datatables.net/plug-ins/1.10.10/i18n/Spanish.json", function (lang) {
          $('#log').DataTable({
            language: lang,
            order: [[ 0, 'desc' ]],
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "Todos"] ],
            buttons: [ 'csv', 'excel', 'pdf' ],
            columnDefs: [ { targets: 0, type: 'date-euro' } ]
          });

          $('div.dt-buttons').addClass('btn-group').removeClass('dt-buttons');
          $('.dt-button').removeClass('dt-button');
          $('a.buttons-csv').addClass('btn btn-primary');
          $('a.buttons-excel').addClass('btn btn-success');
          $('a.buttons-pdf').addClass('btn btn-danger');
        });

        var from = $('#date-from');
        var until = $('#date-until');

        from.datetimepicker({
          format: 'YYYY-MM-DD',
          maxDate: new Date(),
          useCurrent: false //Important! See issue #1075
        });
        until.datetimepicker({
          format: 'YYYY-MM-DD',
          maxDate: new Date(),
          useCurrent: false //Important! See issue #1075
        });
        from.on("dp.change", function (e) {
            until.data("DateTimePicker").minDate(e.date);
        });
        until.on("dp.change", function (e) {
            from.data("DateTimePicker").maxDate(e.date);
        });

        $('button[type=reset]').click(function () {
          $('form input.form-control').attr('value', '');
          $('form select.form-control > option[selected=selected]').removeAttr('selected');
        });
      });
    </script>
  </body>
</html>
