<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Enviar SMS</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Optional theme -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- File plugin -->
    <link href="/static/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      {% include 'menu.html' %}

      {% for message in messages %}
        <div align="center" class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}

      <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <label for="add-phones" class="col-sm-2 control-label">Teléfonos</label>
          <div class="col-sm-9">
            <input id="add-phones" type="file" name="phones" class="file input-lg" data-show-preview="false" data-show-upload="false">
          </div>
        </div>
        <div class="form-group">
          <label for="message" class="col-sm-2 control-label">Mensaje</label>
          <div class="col-sm-9">
            <textarea id="message" class="form-control" name="message" rows="5"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
          </div>
        </div>
      </form>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <!-- File plugin -->
    <script src="/static/js/plugins/canvas-to-blob.min.js" type="text/javascript"></script>
    <script src="/static/js/fileinput.min.js" type="text/javascript"></script>
    <script src="/static/js/fileinput_locale_es.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script type="application/javascript">
      $(document).ready(function (){
        $('#add-phones').fileinput({
          language: 'es',
          allowedFileExtensions: ['xlsx']
        });

        $('.alert').fadeTo(2000, 500).slideUp(1000, function () {
          $(".alert").alert('close');
        });
      });
    </script>
  </body>
</html>
