<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Registro de envios SMS</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Optional theme -->
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Table plugin -->
    <link href="/static/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/buttons.dataTables.min.css"  rel="stylesheet" type="text/css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      {% include 'menu.html' %}

      <table id="log" class="table table-hover">
        <thead>
          <tr>
            <th>Fecha Envío</th>
            <th>Teléfono</th>
            <th>Mensaje</th>
            <th>Mensajes enviados</th>
            <th>Estado</th>
          </tr>
        </thead>

        <tbody>
        {% load sms_extras %}
        {% for log in logs %}
          <tr>
            <td>{{ log.sent | date:'d/m/y H:i:s' }}</td>
            <td>{{ log.phone }}</td>
            <td>{{ log.message }}</td>
            <td>{{ log.quantity | default:'' }}</td>
            <td><span class="label label-{{ log.status | status_class }}">{{ log.status | status_name }}</span></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Tables -->
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/js/dataTables.buttons.min.js"></script>
    <script src="/static/js/buttons.flash.min.js"></script>
    <script src="/static/js/jszip.min.js"></script>
    <script src="/static/js/pdfmake.min.js"></script>
    <script src="/static/js/vfs_fonts.js"></script>
    <script src="/static/js/buttons.html5.min.js"></script>
    <script src="/static/js/buttons.print.min.js"></script>
    <script type="application/javascript">
      $(document).ready(function() {
        $.getJSON("http://cdn.datatables.net/plug-ins/1.10.10/i18n/Spanish.json", function (lang) {
          $('#log').DataTable({
            language: lang,
            order: [[ 0, 'desc' ]],
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "Todos"] ],
            buttons: [ 'csv', 'excel', 'pdf' ],
            columnDefs: [ { targets: 0, type: 'date-euro' } ]
          });

          $('div.dt-buttons').addClass('btn-group').removeClass('dt-buttons');
          $('.dt-button').removeClass('dt-button');
          $('a.buttons-csv').addClass('btn btn-primary');
          $('a.buttons-excel').addClass('btn btn-success');
          $('a.buttons-pdf').addClass('btn btn-danger');
        });
      });
    </script>
  </body>
</html>
